<!-- テンプレートファイルの継承 -->
{% extends "base.html" %}

<!-- Title -->
{% block title %}My Book{% endblock %}

<!-- Style -->
{% block css %}
<!-- CSSファイルの読み込み -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myBook.css' %}" />
{% endblock %}

<!-- Body -->
{% block content %}
<!-- ヘッドライン -->
<a href="{% url 'BookApp:myBook' %}"><p class="headline">MY BOOK</p></a>


<div class="all-content">
    <!-- 検索欄 -->
    <form class="search_item" name="form1" action="{% url 'BookApp:myBook' %}" method="POST">
        {% if total == 0 %}    <!-- 検索にヒットした書籍が存在しない場合 -->
            <p>登録されている書籍はありません。</p>
        {% else %}    <!-- ヒットした書籍が1冊以上ある場合 -->
            <p>{{ total }}件の書籍が登録されています。</p>
        {% endif %}

        {% csrf_token %}    <!-- CSRF(クロスサイト・リクエスト・フォージェリ)対策 -->
        <div class="gnavi__list2"><span class="index">TITLE</span>{{ form.title }}</div>
        <div class="gnavi__list2"><span class="index">AUTHOR</span>{{ form.author }}</div>
        <div class="gnavi__list2"><span class="index">ISBN</span>{{ form.isbn }}</div>
        <div class="gnavi__list2"><span class="index">REVIEW</span>{{ form.review }}</div>
        <div class="gnavi__list2"><span class="index">ORDER</span>{{ form.order }}</div>
        <div class="gnavi__list2"><span class="index">CATEGORY</span><div class="selectbox-001">{{ form.category }}</div></div>
        <div class="gnavi__list2"><span class="index">LANGUAGE</span><div class="selectbox-001">{{ form.language }}</div></div>
        <div class="gnavi__list2"><span class="index">STAGE</span><div class="selectbox-001">{{ form.stage }}</div></div>

        <!-- 検索ボタン -->
        <button type="submit" name="submit">Search</button>
    </form>

    <!-- 書籍欄 -->
    <form class="all-book" action="{% url 'BookApp:myBookDelete' %}" method="post" enctype="multipart/form-data">
         <!-- 削除ボタン -->
        <button type="submit" class="button" onclick="return check()">Delete book</button>

        {% for item in obj %}
        <!-- 通常ウィンドウ -->
        <div class = "content">
            {% csrf_token %}
            <input type="checkbox" name="delete" value="{{ item.id }}">

            <!-- 書籍の表紙画像 -->
            {% if not item.bookCover %}    <!-- 書籍情報に表紙画像がない場合 -->
            <!-- static内の表紙画像 -->
            {% load static %}
            <div class="card-img"><img src="{% static 'image/bookCover.png' %}" alt=""></div>
            {% else %}    <!-- 表紙画像が格納されている場合 -->
            <div class="card-img"><img src="{{ item.bookCover.url }}" alt=""></div>
            {% endif %}

            <div class="card-text">
                <div class="modal-toggle btn-example" data-modal={{item.id}}><a class="link_detail" href="#"><p class="shortcut-1">{{ item.title }}</p></a></div>

                <p class="shortcut-1">{{ item.author }}</p>
                <p class="shortcut-mult">{{ item.description }}</p>
            </div>

            <div>
                <!-- 更新ボタン -->
                <a class="link_detail" href="{% url 'BookApp:myBookDetail' item.id %}">Register</a>
            </div>
        </div>
    
        <!-- モーダルウィンドウ -->
        <div id={{item.id}} class="modal">
            <div class="modal-content">
                <!-- ×ボタン -->
                <div class="modal-top">
                    <span class="modal-close">×</span>
                </div>

                <!-- 書籍の表紙画像 -->
                {% if not item.bookCover %}    <!-- 書籍情報に表紙画像がない場合 -->
                <!-- static内の表紙画像 -->
                {% load static %}
                <div class="card-img"><img src="{% static 'image/bookCover.png' %}" alt=""></div>
                {% else %}    <!-- 表紙画像が格納されている場合 -->
                <div class="card-img"><img src="{{ item.bookCover.url }}" alt=""></div>
                {% endif %}
            
                <!-- 書籍の全項目 -->
                <div class="modal-card-text">
                    <ul>
                        <li><span class="index">TITLE</span><p>{{ item.title }}</p></li>
                        <li><span class="index">AUTHOR</span><p>{{ item.author }}</p></li>
                        <li><span class="index">PUBLISHEDDATE</span><p>{{ item.publishedDate }}</p></li>
                        <li><span class="index">DESCRIPTION</span><p>{{ item.description }}</p></li>
                        <li><span class="index">ISBN</span><p>{{ item.isbn }}</p></li>
                        <li><span class="index">PAGE</span><p>{{ item.page }}  Page</p></li>
                        <li><span class="index">CATEGORY</span><p>{{ item.category }}</p></li>
                        <li><span class="index">LANGUAGE</span><p>{{ item.language }}</p></li>
                    </ul>

                    <!-- 書籍の詳細情報を別のタグで開くためのリンク -->
                    <a class="link_detail" href="{% url 'BookApp:myBookDetail' item.id %}">Register</a>
                </div>
            </div>
        </div>
        {% endfor %}
        

</form>
</div>
{% endblock %}


<!-- Script -->
{% block js %}
    <!-- JavaScriptファイルの読み込み -->
    {% load static %}
    <script src="{% static 'js/modal.js' %}"></script>
    <script>
        function check(){
            if(window.confirm('Do you delete this book?')){ // 確認ダイアログを表示
                return true;
            }
            else{ // 「キャンセル」時の処理
                return false;
            }
        }
    </script>
{% endblock %}
