/* ヘッドライン */
.headline {
    color: rgb(187, 87, 87);    /* 文字色 */
    text-shadow:0 5px 5px black;    /* 文字の影 */
    font-weight: bold;    /* 文字の太さ */
    font-size: 40px;    /* 文字の大きさ */
    text-align: center;    /* 中央揃え */
    position: absolute;    /* 絶対配置 */
    top: 0.1%;    /* 上からの位置 */
    left: 50%;    /* 左からの位置 */
    transform: translate(-50%, -50%);    /* 水平方向や垂直方向で再配置 */
    z-index: 1;    /* 最前面に表示 */
}


/* 全コンテンツ */
.all-content{
    font-size: 20px;
    justify-content: center;
    width: 100%;
    z-index: 100;    /* 最前面に表示 */
    display: flex;
    margin : 230px 0px 200px 0px;    /* 周りの余白（順に上、右、下、左） */
}


/* 検索欄 */
.search_item{
    font-size: 20px;
    text-align: center;
    width: 20%;
    height:600px;
    z-index: 100;    /* 最前面に表示 */
    margin : 0px 100px 0px 0px;    /* 周りの余白（順に上、右、下、左） */
    display: flex;
    flex-flow: column;
    background-color: rgb(210, 220, 223);
}

.gnavi__list2 {
    width: 100%;
    height: 7%;
    border: 1px solid #f0f2f4;
    display: flex;
}

.gnavi__list2 span {
    width:50%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}


/* 全書籍 */
.all-book{
    width: 45%;
    display: flex;
    flex-flow: column;
}


/* 各書籍 */
.content{
    display:flex;    /* 横並びのレイアウト */
    width: 100%;    /* 横幅 */
    height : 180px;    /* 高さ */
    background-color: rgba(237, 237, 235, 0.724);    /* 背景色 */
    border: ridge;    /* 枠線の種類 */
    border-color: rgb(165, 153, 153);    /* 枠線の色 */
    border:5%;    /*線の太さ*/
    margin: 1px 0px 5px 0px;    /* 周りの余白（上・右・下・左） */
    cursor: pointer;    /* マウスポインターの表示 */
}


/* 書籍一覧フィールドの各項目の文字の設定 */
.shortcut-mult, .shortcut-1{
    overflow: hidden;    /* ハミ出した部分を隠す */
    text-overflow: ellipsis;    /* 「…」と省略 */
    width: 100%;    /* 横幅 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* 1行で記述（タイトルや著者など） */
.shortcut-1 {
    -webkit-line-clamp: 1;    /* 1行が限度 */
}

/* 4行で記述（あらすじ） */
.shortcut-mult {
    -webkit-line-clamp: 2;    /* 2行が限度 */
}


/* 詳細情報ページへの遷移 */
.link_detail {
    color:rgb(45, 218, 77);    /* 文字色 */
}


/* 書籍情報の各項目 */
.index{
    font-weight: bold;    /* 文字の太さ */
    color:#FF0000;    /* 文字色 */
    font-weight: bold;    /* 文字のフォント */
    font-size: 13px;
}


/* 書籍の表紙画像フィールド */
.card-img img{
    width:100px;    /* 横幅 */
    height:150px;    /* 高さ */
    margin:10px 15px 20px 20px;    /* 周りの余白（上・右・下・左） */
}


/* 書籍情報の文字フィールド */
.card-text{
    width: 60%;    /* 要素の横幅 */
    line-height:22px;
}



/************* モーダルウィンドウ *************/
/* モーダルウィンドウ */
.modal {
    display: none;    /* 要素を非表示 */
    position: fixed;    /* 位置を固定 */
    z-index: 10000;    /* 最前面 */
    left: 0;    /* 左からの位置 */
    top: 0;    /* 上からの位置 */
    width: 100%;    /* 横幅 */
    height: 100%;    /* 高さ */
    overflow: auto;    /* 内容が収まらない場合、スクロールバーを表示 */
    background-color: rgba(0, 0, 0, 0.7);    /* 背景色 */
    transition: all 1s ease-in-out;
}


/* モーダルウィンドウにおける書籍情報のフィールド */
.modal-content {
    background: rgba(231, 231, 231, 0.9);    /* 背景色 */
    overflow-y: auto;    /* 内容が収まらない場合、スクロールバーを表示 */
    padding: 20px 25px;    /* 余白（上下・左右） */
    width: 60%;    /* 横幅 */
    height: 80%;    /* 高さ */
    position: absolute;    /* 絶対配置 */
    top: 50%;    /* 上からの位置 */
    left: 50%;    /* 左からの位置 */
    transform: translate(-50%, -50%);    /* 水平方向や垂直方向で再配置 */
    display:flex;    /* 横並びのレイアウト */
    animation: show 0.8s linear 0s;    /* アニメーション */
}


/* モーダルウィンドウのトップ */
.modal-top {
    position: absolute;    /* 絶対配置 */
    right: 5px;    /* 右からの位置 */
    top: 5px;    /* 上からの位置 */
}


/* 書籍の表紙画像フィールド（モーダルウィンドウ上） */
.card-modal-img img{
    width:120px;    /* 横幅 */
    height:180px;    /* 高さ */
    margin:10px 20px 20px 20px;    /* 周りの余白（上・右・下・左） */
}


/* 書籍情報の文字フィールド */
.modal-card-text{
    width: 80%;    /* 要素の横幅 */
}


/* モーダルウィンドウの×ボタン */
.modal-close {
    color: #FF0000;    /* 文字色 */
    font-size: 2rem;    /* 文字の大きさ */
    line-height: 1;    /* 行間 */
}


/* モーダルウィンドウの×ボタン */
.modal-close:hover, .modal-close:focus {
    cursor: pointer;    /* マウスポインターの表示 */
}


/* モーダルウィンドウのアニメーション */
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


ul {
    padding: 0 0.5em;
    position: relative;
}
  
ul li {
    padding: 0.5em 0 0.1em 0.5em;
    border-bottom: dashed 2px white;
}

ul li p {
    padding-left: 20px
}


/* 削除ボタン */
.button{
    background-color: green;    /* ボタンの背景色 */
    border-radius: 50px;    /* 角丸 */
    position: relative;    /* 相対位置 */
    width: 150px;    /* 横幅 */
    height: 30px;    /* 高さ */
    color: white;    /* 文字の色 */
    font-weight: bold;    /* 文字の太さ */
    font-size: 15px;    /* 文字の大きさ */
    border: none;    /* 枠線なし */
    cursor: pointer;    /* マウスポインターの表示 */
    box-shadow: 10px 10px 10px rgba(101, 98, 98, 0.945);    /* ぼかし */
    position: absolute;
    top: 20%;
}


/* 検索フォーム */
.single{
    border-top: none;
    border-right: none;
    border-left: none;
    width: 50%;
    height: 50%;
}

.single:focus {
    background-color: hsl(73, 56%, 88%); /*--背景色--*/
    outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}


/* セレクトボックス */
.selectbox-001 select {
    width: 100%;
    height: 50%;
    background-color: white;
    cursor: pointer;
}

.selectbox-001 select:focus {
    background-color: hsl(73, 56%, 88%);
}


/* ナンバーボックス */
/* 数値の入力欄にスピナーを常時表示する */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]{
    width: 50%;
    height: 50%;
}

input[type=number]:focus{
    background-color: hsl(73, 56%, 88%);
}
